{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Chai aur Django Project: About Page</h1>
    <p>This is the about page of the Chai aur Django project.</p>
    <p>Chai aur Django is a project that aims to teach web development using Django to beginners.</p>
    <p>It is a project by <a href="https://www.linkedin.com/in/umair228/">Umair Khan</a>.</p>
    <p>For more information, visit the , Contact Page</a>.</p>
    <p>For the source code, visit the <a href="
    
</body>
</html>